
<div class="form">
  <%= form_for(@article) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control"%>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
